Repository tedilabs/terraform-github-modules, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: org-organization, :floppy_disk: org-team, :floppy_disk: project, :floppy_disk: repository, :floppy_disk: webhook

.github/labeler.yaml:

# Modules
":floppy_disk: org-organization":
- modules/org-organization/**/*
":floppy_disk: org-team":
- modules/org-team/**/*
":floppy_disk: project":
- modules/project/**/*
":floppy_disk: repository":
- modules/repository/**/*
":floppy_disk: webhook":
- modules/webhook/**/*

Migrate modules
  modules/org-organization/README.md
  modules/org-organization/main.tf
  modules/org-organization/outputs.tf
  modules/org-organization/variables.tf
  modules/org-organization/versions.tf
  modules/org-team/README.md
  modules/org-team/main.tf
  modules/org-team/outputs.tf
  modules/org-team/variables.tf
  modules/org-team/versions.tf
  modules/project/README.md
  modules/project/main.tf
  modules/project/outputs.tf
  modules/project/variables.tf
  modules/project/versions.tf
  modules/repository/README.md
  modules/repository/collaborators.tf
  modules/repository/deploy-keys.tf
  modules/repository/issue-labels.tf
  modules/repository/main.tf
  modules/repository/outputs.tf
  modules/repository/teams.tf
  modules/repository/variables.tf
  modules/repository/versions.tf
  modules/webhook/README.md
  modules/webhook/main.tf
  modules/webhook/outputs.tf
  modules/webhook/variables.tf
  modules/webhook/versions.tf
Labels: :floppy_disk: org-organization, :floppy_disk: org-team, :floppy_disk: project, :floppy_disk: repository, :floppy_disk: webhook

Bump to v0.7.0
  VERSION
Labels: none

Add README.md
  README.md
  VERSION
Labels: none

Improve version constraint for github provider
  modules/org-organization/README.md
  modules/org-organization/versions.tf
  modules/org-team/README.md
  modules/org-team/versions.tf
  modules/project/README.md
  modules/project/versions.tf
  modules/repository/README.md
  modules/repository/versions.tf
  modules/webhook/README.md
  modules/webhook/versions.tf
Labels: :floppy_disk: org-organization, :floppy_disk: org-team, :floppy_disk: project, :floppy_disk: repository, :floppy_disk: webhook

Improve version constraint for github provider (#1)
  modules/org-organization/README.md
  modules/org-organization/versions.tf
  modules/org-team/README.md
  modules/org-team/versions.tf
  modules/project/README.md
  modules/project/versions.tf
  modules/repository/README.md
  modules/repository/versions.tf
  modules/webhook/README.md
  modules/webhook/versions.tf
Labels: :floppy_disk: org-organization, :floppy_disk: org-team, :floppy_disk: project, :floppy_disk: repository, :floppy_disk: webhook

Bump to v0.7.2
  VERSION
Labels: none

Support `branches` and `pages` for repository module
  modules/repository/README.md
  modules/repository/branches.tf
  modules/repository/main.tf
  modules/repository/outputs.tf
  modules/repository/variables.tf
Labels: :floppy_disk: repository

Support `branches` and `pages` for repository module (#4)
  modules/repository/README.md
  modules/repository/branches.tf
  modules/repository/main.tf
  modules/repository/outputs.tf
  modules/repository/variables.tf
Labels: :floppy_disk: repository

Bump to v0.8.0
  VERSION
Labels: none

Update actions version
  .github/dependabot.yml
  .github/workflows/integration.yaml
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

Update actions version (#5)
  .github/dependabot.yml
  .github/workflows/integration.yaml
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

Fix and upgrade pre-commit config
  .pre-commit-config.yaml
Labels: none

Fix and upgrade pre-commit config (#6)
  .pre-commit-config.yaml
Labels: none

Hello, 2023
  README.md
Labels: none

Introduce tflint
  .github/workflows/integration.yaml
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

Fix tflint failed code
  modules/repository/outputs.tf
Labels: :floppy_disk: repository

Update workflow
  .github/workflows/terraform.integration.yaml
Labels: none

Update github workflows
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
Labels: none

Update pre-commit config
  .pre-commit-config.yaml
Labels: none

Migrate to integrations/github
  modules/org-organization/versions.tf
  modules/org-team/versions.tf
  modules/project/versions.tf
  modules/repository/versions.tf
  modules/webhook/versions.tf
Labels: :floppy_disk: org-organization, :floppy_disk: org-team, :floppy_disk: project, :floppy_disk: repository, :floppy_disk: webhook

Bump to v0.9.0
  VERSION
Labels: none

Update terraform version to v1.5
  modules/org-organization/README.md
  modules/org-organization/versions.tf
  modules/org-team/README.md
  modules/org-team/versions.tf
  modules/project/README.md
  modules/project/versions.tf
  modules/repository/README.md
  modules/repository/versions.tf
  modules/webhook/README.md
  modules/webhook/versions.tf
Labels: :floppy_disk: org-organization, :floppy_disk: org-team, :floppy_disk: project, :floppy_disk: repository, :floppy_disk: webhook

Update pre-commit
  .pre-commit-config.yaml
Labels: none

Update terraform version to v1.5 (#14)
  .pre-commit-config.yaml
  modules/org-organization/README.md
  modules/org-organization/versions.tf
  modules/org-team/README.md
  modules/org-team/versions.tf
  modules/project/README.md
  modules/project/versions.tf
  modules/repository/README.md
  modules/repository/versions.tf
  modules/webhook/README.md
  modules/webhook/versions.tf
Labels: :floppy_disk: org-organization, :floppy_disk: org-team, :floppy_disk: project, :floppy_disk: repository, :floppy_disk: webhook

Update dependabot
  .github/dependabot.yml
Labels: none
